%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% exl ts=4 sw=4 ft=erlang et

{minimum_otp_vsn, "19.3"}.

{plugins, [
    {rebar3_gpb_plugin, "1.11.8"},
    {rebar3_appup_plugin, "2.4.1"}
]}.

{deps, [
    {lager_daily_rotation_file_backend, {git, "https://github.com/HaotaoYang/lager_daily_rotation_file_backend.git", {tag, "1.0.5"}}},
    {eetcd, {git, "https://github.com/HaotaoYang/eetcd.git", {tag, "1.0.0"}}},
    {cowboy, "2.6.1"},
    {sync, "0.1.3"}
]}.

{erl_opts, [
    encrypt_debug_info,
    warnings_as_errors,
    {parse_transform, lager_transform}
]}.

{shell, [
    {apps, [holtom_game, sync]},
    {config, "./config/dev_sys.config"}
]}.

{dist_node, [
    {setcookie, 'holtom_game'},
    {name, 'holtom_game_dev@127.0.0.1'}
]}.

{provider_hooks, [
    {pre, [{tar, {appup, tar}}]},
    {post, [
        {compile, {appup, compile}},
        {clean, {appup, clean}}
    ]}
]}.

{relx, [
    {include_src, false},
    {include_erts, false},
    {system_libs, false},
    {dev_mode, true},
    {extended_start_script, true},

	{sys_config, "./config/sys.config"},
	{vm_args, "./config/vm.args"},

    {release, {holtom_game,
        "0.1.0" %% release_vsn
    }, [holtom_game]}
]}.

{profiles, [
    {dev, [
        {erl_opts, [debug_info]},
		{relx, [
			{dev_mode, false},
            {include_erts, "/centos_erlang"},
            {system_libs, "/centos_erlang/lib"},
            {sys_config, "config/dev_sys.config"},
            {vm_args, "config/dev_vm.args"}
		]}
	]},
	{prod, [
        {erl_opts, [debug_info]},
		{relx, [
			{dev_mode, false},
            {include_erts, "/centos_erlang"},
            {system_libs, "/centos_erlang/lib"},
            {sys_config, "config/sys.config"},
            {vm_args, "config/vm.args"}
		]}
	]}
]}.
