%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% exl ts=4 sw=4 ft=erlang et

{minimum_otp_vsn, "19.3"}.

{plugins, [
    {rebar3_gpb_plugin, "1.11.8"},
    rebar3_appup_plugin
]}.

{deps, [
    {lager, "3.5.1"},
    {ranch, "1.4.0"}
]}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    {parse_transform, lager_transform}
]}.

{shell, [
    {apps, [sasl, lager, ranch, holtom_game]},
    {config, "./config/sys.config"}
]}.

{dist_node, [
    {setcookie, 'holtom_game'},
    {name, 'holtom_game@127.0.0.1'}
]}.

{relx, [
	{release, {holtom_game, "0.1.0"}, [sasl, lager, ranch, holtom_game]},
	{sys_config, "./config/sys.config"},
	{vm_args, "./config/vm.args"},
	{dev_mode, true},
	{include_erts, false},
	{extended_start_script, true}
]}.

{profiles, [
	{prod, [
		{relx, [
			{dev_mode, false},
            {include_erts, true},
            {include_src, false}
		]},
		{erl_opts, [
			no_debug_info,
			warnings_as_errors
		]}
	]}
]}.
