%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% exl ts=4 sw=4 ft=erlang et

{minimum_otp_vsn, "19.3"}.

{plugins, [
    {rebar3_gpb_plugin, "1.11.8"},
    {rebar3_appup_plugin, "2.4.4"}
]}.

{deps, [
    {game_base, {git, "https://github.com/HaotaoYang/game_base.git", {branch, "master"}}},
    {eetcd, {git, "https://github.com/HaotaoYang/eetcd.git", {tag, "1.0.0"}}}
]}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    {parse_transform, lager_transform},
    {i, "include"}
]}.

{shell, [
    {apps, [holtom_game, sync]},
    {config, "./config/dev_sys.config"}
]}.

{dist_node, [
    {setcookie, 'holtom_game'},
    {name, 'holtom_game_dev@127.0.0.1'}
]}.

%% record_util_opts
{record_util_opts, [
    {hrl_dirs, ["apps/holtom_game/include"]},
    {dest_dir, "apps/holtom_game/src"},
    {module_name, record_helper}
]}.

%% provider_hooks
{provider_hooks, [
    {pre, [
        {compile, {record_util, pre_compile}},
        {clean, {record_util, pre_clean}},
        {tar, {appup, tar}}
    ]},
    {post, [
        {compile, {record_util, post_compile}},
        {clean, {record_util, post_clean}},
        {compile, {appup, compile}},
        {clean, {appup, clean}}
    ]}
]}.

{relx, [
    {include_src, false},
    {include_erts, false},
    % {system_libs, false},
    {dev_mode, true},
    {extended_start_script, true},

	{sys_config, "./config/sys.config"},
	{vm_args, "./config/vm.args"},

    {release, {holtom_game, "0.1.0"}, [holtom_game]}
]}.

{profiles, [
    {local, [
        {erl_opts, [debug_info]},
		{relx, [
			{dev_mode, false},
            % {include_erts, "/centos_erlang"},
            % {system_libs, "/centos_erlang/lib"},
            {sys_config, "config/local_sys.config"},
            {vm_args, "config/local_vm.args"}
		]}
	]},
    {dev, [
        {erl_opts, [debug_info]},
		{relx, [
			{dev_mode, false},
            {include_erts, "/centos_erlang"},
            {system_libs, "/centos_erlang/lib"},
            {sys_config, "config/dev_sys.config"},
            {vm_args, "config/dev_vm.args"}
		]}
	]},
	{prod, [
        {erl_opts, [debug_info]},
		{relx, [
			{dev_mode, false},
            {include_erts, "/centos_erlang"},
            {system_libs, "/centos_erlang/lib"},
            {sys_config, "config/sys.config"},
            {vm_args, "config/vm.args"}
		]}
	]}
]}.
