%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% exl ts=4 sw=4 ft=erlang et

%% Thanks to Ulf Wiger at Ericcson for these comments:
%%
%% This file is identified via the erl command line option -config File.
%% Note that File should have no extension, e.g.
%% erl -config .../sys (if this file is called sys.config)
%%
%% In this file, you can redefine application environment variables.
%% This way, you don't have to modify the .app files of e.g. OTP applications.

%% e.g.
% [
%     {<app_name>, [...]}
% ].

[
    {holtom_game, [
        {etcd, false}
    ]},
    {eetcd, [
        {etcd_cluster, ["127.0.0.1:23790"]},
        {http2_transport, tcp},
        {http2_transport_opts, []}
    ]},
    % {
    %     mnesia,
    %     [
    %         {dir, "mn_data"},
    %         {dc_dump_limit, 100},
    %         {dump_log_time_threshold, 300000},  %% 5 min
    %         {dump_log_write_threshold, 50000}
    %     ]
    % },
    {sasl, [{sasl_error_logger, false}]},
    {lager, [
            {colored, true},
            {crash_log, "log/crash.log"},
            {crash_log_msg_size, 65536},
            {crash_log_size, 10485760},
            {crash_log_date, "$D0"},
            {crash_log_count, 5},
            {handlers, [
            {lager_console_backend, [
                {level, debug},
                {formatter_config, [time, color, " [", severity, "] ", module, ":", function, ":", line, " ", message, "\e[0m\r\n"]}
            ]},
            {lager_file_backend, [
                {level, debug},
                {formatter_config, [date, " ", time, " [", severity, "] ", module, ":", function, ":", line, " ", message, "\n"]},
                {file, "log/console.log"},
                {size, 10485760},
                {date, "$D0"},
                {count, 20}
            ]},
            {lager_file_backend, [
                {level, error},
                {formatter_config, [date, " ", time, " [", severity, "] ", module, ":", function, ":", line, " ", message, "\n"]},
                {file, "log/error.log"},
                {size, 10485760},
                {date, "$D0"}
            ]},
            {new_lager, [
                {level, debug},
                {formatter_config, [date, " ", time, " [", severity, "] ", module, ":", function, ":", line, " ", message, "\n"]},
                {path, "log/"}
            ]}
        ]}
    ]}
].
