%% Thanks to Ulf Wiger at Ericcson for these comments:
%%
%% This file is identified via the erl command line option -config File.
%% Note that File should have no extension, e.g.
%% erl -config .../sys (if this file is called sys.config)
%%
%% In this file, you can redefine application environment variables.
%% This way, you don't have to modify the .app files of e.g. OTP applications.

%% e.g.
% [
%     {<app_name>, [...]}
% ].

[
    %% {
    %%     mnesia,
    %%     [
    %%         {dc_dump_limit, 100},
    %%         {dump_log_time_threshold, 300000},  %% 5 min
    %%         {dump_log_write_threshold, 50000}
    %%     ]
    %% },
    %% {sasl, [{errlog_type, error}]},
    {sasl, [{sasl_error_logger, false}]},
    {
        lager,
        [
            % {log_root, "/log"},   %% 指定这个参数之后需要先创建好目录，不然会找不到
            {colored, true},
            {
                handlers,
                [
                    {
                        lager_console_backend,
                        [{level, debug}, {formatter_config, [time, color, " [", severity, "] ", module, ":", line, " ", message, "\e[0m\r\n"]}]
                    },
                    {lager_file_backend, [{level, error}, {file, "log/error.log"}, {size, 10485760}, {date, "$D0"}, {count, 10}]},    %% 错误日志输出路径
                    {lager_file_backend, [{level, debug}, {file, "log/console.log"}, {size, 10485760}, {date, "$D0"}, {count, 10}]}   %% 控制台log输出路径和等级
                ]
            }
        ]
    }
].
